#cell {
width: 25px;
height: 25px;
background: white;
display: inline-block;
}

.row {
    display: flex;
}

body {
    display:flex;
    flex-direction: column;
}

button {
    width: 100px;
    margin: auto;
    margin-top: 0.5cm;
}

#container {
    margin: auto;
    margin-top: 0.5cm;
    border-style: dotted;
}